// Brand Colors

$primary-brand: #00eee6; // electric blue
$primary-dark: #0B1624; // slate blue
$primary-light: #f2f2f2; // off white
$accent-dark: #44737C; // dark teal
$accent-light: #A2FFE8; // light teal
$secondary-dark: #04080C; // dark slate gray
$secondary-light: #ffffff; // white


// Font Styles

.display-primary-8{
  font-family: Endurance Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -3px;
  margin-bottom:38px;
  margin-top:19px;
}

.body-1{
  font-family: Endurance Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.label-secondary-2{
  font-family: Endurance Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.label-primary-1{
  font-family: FS Meridian;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label-primary-2{
  font-family: FS Meridian;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-1{
  font-family: FS Meridian;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
