.hero{
  height: 100vh;
  min-height: 640px;
  color: $primary-light;
  z-index:2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header . . . . . . . . . . . ."
    "main main main main main main main main . . . sidebar sidebar sidebar sidebar sidebar"
    "footer footer footer footer footer footer . . . . . . . controls controls controls";
  .logo{grid-area:header; align-self: start;}
  .title{grid-area:main; align-self:center;}
  .sidebar{grid-area:sidebar; align-self:center; justify-self:end;}
  .details{grid-area:footer; align-self: end;}
  .controls{grid-area:controls;align-self:end; justify-self:end; margin-bottom:1rem;}
  .shield{
    width:100%;
    height: inherit;
    z-index: -2;
    position: absolute;
    background-image: url('/img/elements/shields.png');
    background-size: cover;
  }
  .details .meta{
    display:flex;
    div{padding-right:1rem;padding-bottom:1rem;}
  }
  .flag{
    border:.5px solid $primary-light;
    padding:.5rem 1rem;
  }
}

@media screen and (max-width: 1025px){
  .hero{
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header . . . . . ."
      "main main main main main main main main"
      "sidebar sidebar sidebar sidebar . . . ."
      "footer footer footer footer footer footer . ."
      "controls controls controls controls . . . .";
    .sidebar{justify-self: start;}
    .details{grid-area:footer; align-self: end;}
    .controls{justify-self: start; margin-bottom:1rem;}
  }
}

@media screen and (max-width: 767px){
  .hero{
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 85vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "header header header . . ."
      "footer footer footer footer footer footer"
      "main main main main main main"
      "sidebar sidebar sidebar sidebar . ."
      "controls controls controls controls . .";
    .sidebar{justify-self: start;}
    .details{grid-area:footer; align-self: end;}
    .controls{justify-self: start; margin-bottom:1rem;}
  }
}
